/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 120px;
}

.container {
  display: flex;
  height: calc(100vh - 60px);
}

.header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
}

.title {
  margin: 0;
}

.aside {
  width: 350px;
  border-right: 1px solid #ccc;
  border: 1px solid white;
  height: 600px;
  margin-left: 25px;
  flex-shrink: 0; 
}

.body-container {
  display: flex;
  flex-direction: column; 
  border: 1px solid white;
  padding: 20px;
  flex-grow: 1;
  margin-left: 20px;
  width: 1000px;
  height: 275px;
  padding-top: 40px;
}

.body-container:nth-child(2) {
  margin-top: 50px; 
  overflow-x: auto; 
  white-space: nowrap; 
  width: 1000px;
  display: flex;
  justify-content: center; 
}

.body-container:nth-child(2) .city-weather-tables {
  overflow-x: auto; 
  white-space: nowrap; 
  display: flex; 
  justify-content: space-between;
}

.city-container {
  display: inline-block; 
  margin-right: 20px; 
  border: 2px solid white; 
  padding: 10px; 
  height: 200px;
  width: 165px; 
}

.city-weather-tables {
  white-space: nowrap; 
}

.city-container table {
  width: 100%; 
}

.city-container th,
.city-container td {
  padding: 5px; 
  font-size: 12px; 
  text-align: center; 
}

.city-container h3 {
  font-size: 14px; 
  margin-bottom: 10px; 
}

.forecast-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.forecast-item {
  margin-right: 20px;
}